/*-
 * SPDX-License-Identifier: GPL-3.0-or-later
 *
 * This file is part of a firmware for Xling, a tamagotchi-like toy.
 *
 * Copyright (c) 2020 Dmitry Salychev
 *
 * Xling firmware is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Xling firmware is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */
#ifndef XG_IMGA_$(doc_name)_H_
#define XG_IMGA_$(doc_name)_H_ 1

#include <stdint.h>
#include <avr/pgmspace.h>

/*
 * This file with 1-bit alpha channel for monochrome image has been generated
 * for Xling, a tamagotchi-like toy by LCD Image Converter.
 *
 * Data type: $(doc_data_type) (alpha channel)
 * Filename: $(doc_name)
 *
 * Preset name: $(out_preset_name)
 * Data block size: $(img_data_block_size) bit(s), uint$(img_data_block_size)_t
 * RLE compression: $(img_rle)
 * Conversion type: $(pre_conv_type), $(pre_mono_type) $(pre_mono_edge)
 * Bits per pixel: $(out_bpp)
 * Bands used: $(bands)
 * Band width: $(bandWidth)
 * Main scan direction: $(pre_scan_main)
 * Line scan direction: $(pre_scan_sub)
 * Inverse colors: $(pre_inverse)
 *
 * Xling, a tamagotchi-like toy: <https://github.com/mcusim/Xling>
 * LCD Image Converter: <https://www.riuson.com/lcd-image-converter>
 */

$(start_block_images_table)
const uint$(img_data_block_size)_t PROGMEM XG_IMGA_$(doc_name)[$(out_blocks_count)] = {
    $(out_image_data)
};
$(end_block_images_table)
#endif /* XG_IMGA_$(doc_name)_H_ */
